@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-white font-sans;
  color: #333333;
}

#root {
  @apply flex min-h-screen flex-col;
}

@layer base {
  .container {
    @apply mx-auto w-full max-w-[1400px] px-6;
  }
}
